Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
str = "Anjana"
print(str)

Anjana

In [3]:
list = [1,"Anjana",1.25,True]
list

[1, 'Anjana', 1.25, True]

In [4]:
f = 78.9
f

78.9

In [7]:
t =("Sunday","Monday","Tuesday")
t

('Sunday', 'Monday', 'Tuesday')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ' '
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [13]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [14]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

 /(divide) : It returns the quotient after dividing the first operand by the second operand.In this division results in a floating-point value.

In [21]:
num1 = 9
num2 = 3
num1/num2

3.0

%(Modulus)  : It returns the reminder after dividing the first operand by the second operand.

In [19]:
a = 11 
b = 5
a%b

1

// (Floor division) : Divides and returns the integer value of the quotient. It dumps the digits after the decimal.

In [22]:
n1 = 15
n2 = 10
n1//n2

1

**(Exponent) : Raises the first number to the power of the second.

In [23]:
first = 2
second = 3
first ** second

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
list = [1,2,3,4,5,"Anjana","Sinha",8.96,True,False]
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
Anjana
<class 'str'>
Sinha
<class 'str'>
8.96
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0

while A % B == 0:
    A = A // B  
    count += 1

if count > 0:
    print(f"{A} can be divided by {B} exactly {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the number A:  5
Enter the number B:  3

5 is not purely divisible by 3.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
list1 = [4,6,8,9,3,11,23,56,78,98,14,15,1,2,55,79,18,86,75,45,89,90,30,54,96]
for i in list1:
    if i%3==0:
        print(f"{i} can be divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

4 is not divisible by 3
6 can be divisible by 3
8 is not divisible by 3
9 can be divisible by 3
3 can be divisible by 3
11 is not divisible by 3
23 is not divisible by 3
56 is not divisible by 3
78 can be divisible by 3
98 is not divisible by 3
14 is not divisible by 3
15 can be divisible by 3
1 is not divisible by 3
2 is not divisible by 3
55 is not divisible by 3
79 is not divisible by 3
18 can be divisible by 3
86 is not divisible by 3
75 can be divisible by 3
45 can be divisible by 3
89 is not divisible by 3
90 can be divisible by 3
30 can be divisible by 3
54 can be divisible by 3
96 can be divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data type are those, whose values can be modified once they are created. Ex:  lists, dictionaries, and sets

In [6]:
list_1 = [1,2,3,4,"Anjana","Sinha",True]
list_1[5] = "Kumari" 
print(list_1)

[1, 2, 3, 4, 'Anjana', 'Kumari', True]

Immutable data types are those, whose values cannot be modified once they are created. . Ex:  int, str, bool, float, tuple, etc